@mixin c-flex-type($type) {
    @if $type=="row" {
        flex-direction: row;
    }
    @else if $type=="column" {
        flex-direction: column;
    }
    @else if $type=="row-r" {
        flex-direction: row-reverse;
    }
    @else if $type=="column-r" {
        flex-direction: column-reverse;
    }

}
@mixin c-flex-wrap($wrap) {
    @if $wrap=="nowrap" {
        flex-wrap: nowrap;
    }
    @else if $wrap=="wrap" {
        flex-wrap: wrap
    }
    @else if $wrap=="wrap-r" {
        flex-wrap: wrap-reverse
    }
}
@mixin c-flex-justify($justify) {
    @if $justify=="start" {
        justify-content: flex-start;
    }
    @else if $justify=="end" {
        justify-content: flex-end;
    }
    @else if $justify=="center" {
        justify-content: center;
    }
    @else if $justify=="between" {
        justify-content: space-between;
    }
    @else if $justify=="around" {
        justify-content: space-around;
    }
}
@mixin c-flex-align($align-i) {
    @if $align-i=="start" {
        align-items: flex-start;
    }
    @else if $align-i=="end" {
        align-items: flex-end;
    }
    @else if $align-i=="center" {
        align-items: center;
    }
    @else if $align-i=="baseline" {
        align-items: baseline;
    }
    @else if $align-i=="stretch" {
        align-items: stretch;
    }
}
@mixin c-flex($type: 0, $wrap: 0, $justify: 0, $align-i: 0) {
    display: flex;
    @if $type !=0 {
        @include c-flex-type($type)
    }
    @if $wrap !=0 {
        @include c-flex-wrap($wrap)
    }
    @if $justify !=0 {
        @include c-flex-justify($justify)
    }
    @if $align-i !=0 {
        @include c-flex-align($align-i)
    }


}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 3px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
tr, th, td{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 50%;
	font: inherit;
	vertical-align: baseline;
}

.step4__btn{
	@include c-flex("row", 0, "between");
}

.box {
    margin: 15px;
    border: 1px solid #000;
    padding: 15px;
    width: 450px;
    height: 300px;
    table {
        border: 1px solid #000;
    }
}

input {
    width: 50px;
}

h5,
p {
    margin: 0;
}



fieldset {
    max-width: 800px;
}


.nextStep {
    float: right;
}


.step4{
	&__tabele{
		&--td{
			width: 33%
		}
		&--element{
			width: 90%
		}
	}
}